@import '../../../../styles/colors';

.muscle-group-card{
    position: relative;
    margin-top: 10px;
    padding: 10px 0;
    border: 5px solid $secondary;
    border-radius: 0 0 40px 0;
    
    background: $dark-bg-gardient;
    color: $primary;
    min-height: 300px;
    
    &:hover{
        border-color: darken($secondary,10%);
        li{
            color: $secondary;
        }
    }
    .muscle-group-icon{
        font-size: 60px;
    }
    .checked-bedge{
        height: fit-content;
        position: absolute;
        top: -10px;
        left: -20px;
        transform: rotate(330deg);
        span{
            font-size: 20px;
            text-align: center;
            color: lighten( $primary,20%);
        }
    }
    &.is-checked{
        border:none;
        &:hover{
            color: lighten( $primary,20%);    
        }
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li{
        font-size: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        width: fit-content;
        &:hover{
            color: lighten($secondary, 10%);
        }
    }
}
