@import '../../../styles/colors';

.costum-btn{
    border: none;
    border-radius: 0 0 30px 0;
    font-size: 20px;
    height: fit-content;
    min-height: 60px;
    width: fit-content;
    min-width: 100%;

    &.costum-light-btn{
        color: darken($secondary, 20%);
        background-color: $light;
        border: 2px solid $secondary;
        &:hover{
            background-color: darken($light, 10%);
        }
    }
    &.costum-dark-btn{
        border: 2px solid $secondary;
        color: darken($light, 20%);
        background-color: $dark;
        &:hover{
            background-color: darken($dark, 10%);
        }
    }
    &.costum-secondary-btn{
        border: 2px solid $dark;
        color: $light;
        background-color: darken($secondary, 10%);
        &:hover{
            background-color: darken($secondary, 20%);
        }
    }
}