@import '../../../styles/colors.scss';

.user-plan-card{
    color: $light;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 0 0 40px 0;
    background: linear-gradient(90deg, darken($success, 10%), $success);
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.user-plan-card-premium{
    color: $light;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 0 0 40px 0;
    background: linear-gradient(90deg, darken($secondary, 10%), $secondary);
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}